.container {
  min-height: 95vh;
  padding-left: 10vw;
  padding-top: 5vh;
}
.right-col {
  padding-left: 5vw;
}

.circle {
  width: 10px;
  height: 10px;
  position: absolute;
  border-radius: 50%;
  opacity: 0.4;
}

.drumkit-container {
  position: relative;
}

h1 {
  margin-block-start: 0;
}

.icon {
  width: 100px;
  position: absolute;
}

.hihat {
  left: 25px;
  top: 50px;
}

.cymbal {
  left: 75px;
}

.bass {
  left: 200px;
  top: 50px;
}

.snare {
  left: 100px;
  top: 100px;
}

.floor-tom {
  left: 300px;
  top: 75px;
}

.small-tom {
  left: 175px;
  top: 15px;
  width: 50px;
}

.medium-tom {
  left: 275px;
  width: 75px;
}

.rise-cymbal {
  left: 350px;
}
